@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<h3>Set up an environment for the New Relic .net agent:</h3>
<ol class="round">
    <li class="one">
        <h5>Download the Agent</h5>
        Get the appropriate bits for your environment (<a href="https://download.newrelic.com/dot_net_agent/release/">x86 | x64</a>)<br/>
        More on <a href="https://newrelic.com/docs/dotnet/new-relic-net-installation#dl">downloading the agent</a>.
    </li>

    <li class="two">
        <h5>Install the agent</h5>
        More on <a href="https://newrelic.com/docs/dotnet/new-relic-net-installation#start">installing the agent</a>.
    </li>

    <li class="three">
        <h5>Add your license key to the newrelic.xml file</h5>
        You can get your license key by logging into newrelic.com >> Account Settings
        More on <a href="https://newrelic.com/docs/dotnet/dotnet-agent-configuration">configuring the agent</a>.
    </li>

    <li class="four">
        <h5>Use the API</h5>
        Simply use nuget to install the appropriate bits for the API (this project already has the NewRelic.Api.Agent referenced)
        <pre>PM> Install-Pacakge NewRelic.Agent.Api.x64</pre>
        or
        <pre>PM> Install-Pacakge NewRelic.Agent.Api.x86</pre>
        More on <a href="https://newrelic.com/docs/dotnet/AgentApi">using the API</a>.
    </li>
    <li class="five">
        <h5>Add the custom instrumentation file</h5>
        You can add the CustomInstrumentation.xml file (found in the root of the repository) to your [NewRelicInstallDirectory]/extensions folder for more visibility
        More on <a href="https://newrelic.com/docs/dotnet/CustomInstrumentation">custom instrumentation the API</a>.
    </li>

</ol>
